*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style-type:none;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color:$link-color;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}